{% extends 'baseAPP.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<span vocab="http://schema.org/" typeof="DiscussionForumPosting">
  <h1>
    <span property="headline">Title: {{ comment.title }}</span>
  </h1>
  <h1>
    <span property="articleBody">{{ comment.description }}</span>
  </h1>
  <h1>
    <span property="author">Comment done by: {{ comment.user }}</span>
  </h1>
  <h1>
    <span property="publisher" typeof="Person"><span property="name">Publisher: {{ comment.user }}</span></span>
  </h1>
  <h1>
    <span property="datePublished">{{ comment.date }}</span>
  </h1>
  <h1>
    {% if user == comment.user %}
        (<a href="{% url 'comment_edit' comment.id %}"><button>edit</button></a>)
    {% endif %}
    {% if user == comment.user %}
        (<a href="{% url 'delete_comment' comment.id %}"><button>delete</button></a>)
    {% endif %}
  </h1>
</span>
{% endblock %}
