{% extends 'baseAPP.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<span vocab="http://schema.org/" typeof="NewsArticle">
  <h1>NEWS</h1>
  <h4>Top news of today from Google News:</h4>
  <br></br>
  <p>
    <span property="headline">Title: <strong>{{ title }}</strong></span>
  </p>
  <p>
    <span property="articleBody">Description: <strong>{{ description }}</strong></span>
  </p>
  <br> </br>
  <p>
    <span property="headline">Title: <strong>{{ title2 }}</strong></span>
  </p>
  <p>
    <span property="articleBody">Description: <strong>{{ description2 }}</strong></span>
  </p>
</span>
{% endblock %}
