{% extends 'baseAPP.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<span vocab="http://schema.org/" typeof="NewsArticle">
  <h1>NEWS</h1>
  <h4>Top news of today:</h4>
  <br></br>
  <p>
    <span property="headline">Title: <strong>{{ title }}</strong></span>
  </p>
  <p>
    <span property="articleBody">Description: <strong>{{ description }}</strong></span>
  </p>
  <p>
    <span property="author">Author: <strong>{{ author }}</strong></span>
  </p>
  <p>
    <span property="publisher">Publisher: <strong>{{ publisher }}</strong></span>
  </p>
  <p>
    <span property="datePublished">Published on: <strong>{{ date }}</strong></span>
  </p>
  <p>
    <span property="image"><img src="{{image}}" height="200" width="300"></span>
  </p>
  <br> </br>
  <p>
    <span property="headline">Title: <strong>{{ title2 }}</strong></span>
  </p>
  <p>
    <span property="articleBody">Description: <strong>{{ description2 }}</strong></span>
  </p>
  <p>
    <span property="author">Author: <strong>{{ author2 }}</strong></span>
  </p>
  <p>
    <span property="publisher">Publisher: <strong>{{ publisher2 }}</strong></span>
  </p>
  <p>
    <span property="datePublished">Published on: <strong>{{ date2 }}</strong></span>
  </p>
  <p>
    <span property="image"><img src="{{image2}}" height="200" width="300"></span>
  </p>
</span>
{% endblock %}
